asgiref==3.6.0
CouchDB==1.2
Django==4.2
django-cors-headers==3.14.0
sqlparse==0.4.4
djangorestframework==3.14.0
drf-yasg==1.21.5
textblob==0.17.1
gensim==4.3.1
matplotlib
# nltk==3.8.1
wordcloud==1.9.2
